.App {
  text-align: center;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 20px;
  padding-bottom: 20px;
}

.App-header {
  color: white;
}

.PlanetContainer{
  color: white;
}

.UserPlanet, .UserPosts{
  vertical-align:top;
  display: inline-block;
  color: white;
  width: 40vw;
  margin: 20px;
  margin-top: 50px;

}
.Apod, .RegisterLogin{
  vertical-align:middle;
  display: inline-block;
/*  height: 60vh;*/
  width: 40vw;
  margin: 20px;
  margin-top: 50px;
  background-color: rgba(100,100,100,0.8);
  color: white;
  padding: 20px;
  border-radius: 30px;
}

.SearchPlanet{
    background-color: rgba(100,100,100,0.8);
    color: white;
    width: 30vw;
    margin: 40px;
    padding: 20px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 30px;
}

.PostCards{
  margin: 0;
}

.Card{
  display: inline-block;
  vertical-align: middle;
  width: 40vw;
}

.PlanetCard{
  margin: 40px;
}

.HomePagePost{
  width: 100;
  vertical-align:middle;
  margin: 50px 20px;
  background-color: rgba(100,100,100,0);
  /*padding: 50px;*/
}

a{
  font-size: 15px;
  color: hotpink;
  text-decoration: wavy underline;
}


.App-header-header{
  font-size: 50px;
}

@media (max-width: 640px){
  .App{
    padding:2vw;
  }

  .Apod, .RegisterLogin{
    display:block;
    width: 90vw;
    margin: 20px;
    margin-top: 50px;
    background-color: rgba(100,100,100,0.8);
    color: white;
    padding: 20px;
    border-radius: 30px;
  }


  .UserPlanet, .UserPosts{
    display: block;
    color: white;
    width: 90vw;
    margin: 20px;
    margin-top: 50px;
  }


}
